<ion-app>
  <ion-menu contentId="main-content" type="overlay" swipeGesture="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <span style="display:flex;align-items:center;gap:8px;">
            <ion-icon name="sparkles-outline" color="primary"></ion-icon>
            MasterBookAI
          </span>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list lines="none">
        <ion-menu-toggle autoHide="false" *ngFor="let p of appPages">
          <ion-item
            [routerLink]="p.url"
            routerLinkActive="active"
            detail="false"
          >
            <ion-icon aria-hidden="true" slot="start" [name]="p.icon" color="primary"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
